html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

span {
    font-size: 2vh;
    color: #848181
}

h6 {
    font-size: 2vh;
}

.checkout-page {
    display: flex;
    flex-direction: column;
}
.product-details {
    width: 100%;
    order: 2;
}
.product-image--wrapper {
    width: 100%;
    order: 1;
}
.product-image--wrapper {
    margin-top: 17vh;
}
.product-header .arrow-back-wrapper {
    position: absolute;
    top: 0px;
}
.product-header {
    height: unset;
}

.product-details {
    border-right: 1px solid #f5f3f3;
}

.checkout-options {
    height: 15vh;
    border-top: 1px solid #f5f3f3;
}

.product-description {
    height: 55vh;
}

.product-desc-tabs--divider {
    margin-left: -5%; 
    border-top: 1px solid #f5f3f3;
}

.product-description, .checkout-options, .product-header {
    padding-left: 5%;
}

.product-header .product-name--desc{
    color: #e0dcdc;
    margin-top: 1%;
}

.product-header .product-name {
    margin-bottom: 0%;
    color: #444242;
    margin-top: 8%;
}

.product-header .arrow-back {
    color: #e0dcdc;
    font-size: 2vh;
    position: absolute;
}

.product-header .arrow-back--text {
    position: relative;
    top: -3px;
    left: 20px;
}

.product-header .arrow-back-wrapper {
    margin-bottom: unset;
    margin-top: 5%;
}


.tab {
    overflow: hidden;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 16px;
    padding-right: 12px;
    text-transform: uppercase;
    font-size: 2vh;
    color: #e0dcdc;
    font-weight: 700;
 }

.tab button.highlight {
    border-bottom: 2px solid #6cc0f5;
    color: black;
}

.tab-description .content {
    padding-top: 2%;
    font-size: 2vh;
    color: #848181;
    padding-right: 10%;
}

.tab-description {
    height: 10vh;
}

.select-image--options .select-color--input {
    text-transform: uppercase;
}

.product-description .select-image--options {
    width: 20vh;
    font-size: 2vh;
}

.product-description .price-details {
    margin-top: 4vh;
    margin-bottom: 5vh;
}

.price-details span {
    font-size: 2vh;
    font-weight: 700;
}

.price-details .offer-price {
    color: #000000;
    margin-right: 3%;
}

.price-details .actual-price {
    text-decoration:line-through;
}

.checkout-options .btn {
    padding: 2% 10%;
    font-size: 2vh;
    margin-top: 5vh;
    text-transform: uppercase;
    font-weight: 700;
}

.product-image--wrapper .product-image{
    width: 100%;
    height: 30vh;
    vertical-align: unset;
}

@media (min-width: 1025px) {
    .product-image--wrapper .product-image{
        height: 80vh;
    }

    .checkout-page {
        display: block;
        flex-direction: unset;
    }
    .product-details {
        order: unset;
        display: inline-block;
        width: 55%;
    }
    .product-image--wrapper {
        order: unset;
        display: inline-block;
        width: 44%;
        margin-top: 0px;
    }
    .product-header .arrow-back-wrapper {
        position: unset;
        top: unset;
    }
    .product-header {
        height: 25vh;
    }
}

@media (min-width:800px) and (max-width: 1400px) {
    .product-description .price-details {
        margin-top: 10vh;
        margin-bottom: 7vh;
    }
}

@media (min-width:450px) and (max-width: 799px) {
    .product-description .price-details {
        margin-top: 20vh;
        margin-bottom: 5vh;
    }
}

@media (min-width:400px) and (max-width: 450px) {
    .product-description .price-details {
        margin-top: 5vh;
        margin-bottom: 3vh;
    }
    .tab-description {
        height: 25vh;
        overflow: scroll;
    }
}

@media (min-width:400px) and (max-width: 450px) {
    .product-image--wrapper {
        margin-top: 24vh;
    }
}

@media (max-width: 369px) {
    .product-image--wrapper {
        margin-top: 27vh;
    }
}

@media (min-width: 370px) and (max-width: 399px) {
    .product-image--wrapper {
        margin-top: 22vh;
    }
}

@media (min-width:325px) and (max-width: 400px) {
    .tab-description {
        height: 25vh;
        overflow: scroll;
    }
    .product-description .price-details {
        margin-top: 5vh;
        margin-bottom: 3vh;
    }
}

@media (max-width:325px){
    .product-description {
        height: 65vh;
    }
    .product-description .price-details {
        margin-top: 27vh;
    }
}

@media (min-width:750px) and (max-width: 1024px) {
    .product-description .price-details {
        margin-top: 20vh;
    } 
    .product-image--wrapper .product-image{
        height: 50vh;
    }
}
